footer {
  color: var(--text-color-secondary);
  font-weight: var(--fw-md);
  margin-top: 10rem;

  & .social {}

  & .container {
    padding-inline: 3rem;
  }

  & .container,
  & .top {
    gap: 3rem;
  }

  & nav.even-columns {
    gap: 4rem;
  }

  & .top ul {
    align-content: start;
  }

  & .top img {
    width: 5rem;
  }

  & .bottom {
    margin-top: 2rem;
    flex-wrap: wrap;

    & > div {
      gap: 1.5rem;
  }
}

& .copy {
  font-size: .875rem;
  margin-left: auto;
}

& .title {
  font-size: 0.75rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--brand-color-primary);
}

@media (width >=80em) {
  .container {
    padding-inline: 0;
    padding-bottom: 2rem;
  }

  & .top {
    grid-template-columns: auto 1fr;

    & nav {
      margin-left: auto;

      & ul {
        width: 14rem;
      }
    }
  }
}
}